In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from openpyxl import Workbook

In [2]:
cities = {
    'Актобе' : 'aktobe',
    'Уральск' : 'uralsk'
}

In [3]:
URL = 'https://www.kdlolymp.kz/pricelist/'

In [4]:
path = r'C:\Users\Asus\Downloads\\' #путь к файлу

file = 'Актобе и Уральск 1 сентября по 1 февраля Request' #название файла

extension = '.xlsx' #тип файла

excel_file = pd.ExcelFile(path + file + extension)

sheets = excel_file.sheet_names

print(sheets)

['Актобе', 'Уральск']

In [5]:
new_file_path = path + file + ' (изменено)' + extension
workbook = Workbook()
workbook.save(new_file_path)

In [6]:
writer = pd.ExcelWriter(new_file_path, engine = 'xlsxwriter')

In [7]:
for sheet in sheets:
    df_lis = pd.read_excel(path + file + extension, sheet_name=sheet)
    
    city_rus = sheet.replace(' ', '')
    
    city_latin = cities[city_rus]
    
    url = URL + city_latin
    
    content = requests.get(url)
    
    soup = bs(content.text, 'html.parser')
    
    service_rows = soup.find_all('div', {'class' : 'service-row'})
    print('Количество всех услуг по городу ', city_rus, ': ', len(service_rows))
    
    records = []
    
    for r in service_rows:
    
        service_name = r.find('div', {'class' : 'service-row__item service-title wide-title-cell'}).text #название услуги
        
        service_code = r.find('span', {'class' : 'add-to-cart'})['data-code'] #код услуги
    
        time = r.find('div', {'class': 'service-row__item period normal'}).text #указанный срок
        
        records.append({
            'Код_услуги' : service_code,
            'Услуга' : service_name,
            'Срок' : time       
        })
        
        #print(len(records))
    
    
    
    df_parsed = pd.DataFrame(records)
    
    print('Количество строк и столбцов записанных в dataframe: ', df_parsed.shape)
    
    df_parsed_code = df_parsed['Код_услуги'].tolist()
    df_lis_code = df_lis['Код_услуги'].tolist()

    not_in = []

    #c = 0
    for i in df_lis_code:
        if i not in df_parsed_code:
        #print(i)
            #c += 1
            not_in.append(i)
        
    #print(c)
    #print(not_in)
    
    final = pd.merge(df_lis, df_parsed, how='right')
    
    final['Срок'] = final['Срок'].fillna('')
    
    for i, r in final.iterrows():
        
        #---------------------------------------------------
            
        pl_time = r['Срок']
        if pl_time:
            pl_time = str(pl_time).replace(' ', '').replace('д.', '').replace('до', '').replace('от', '').replace('дней', '')
            
            if len(pl_time.split('-')) == 2:
                pl_min_time, pl_max_time = pl_time.split('-')
                
            else:
                pl_min_time = pl_max_time = pl_time
            
            final.at[i, 'Min_PL'] = pl_min_time
            final.at[i, 'Max_PL'] = pl_max_time
            
        else:
            pl_min_time = pl_max_time = pl_time
            
            final.at[i, 'Min_PL'] = pl_min_time
            final.at[i, 'Max_PL'] = pl_max_time
            
        #---------------------------------------------------
    
    final['Mediana'] = final['Mediana'].apply(lambda x: 1 if x == 0 else x)
    
    final['MAX_time'] = final['MAX_time'].apply(lambda x: 1 if x == 0 else x)
    
    final.drop('Срок', axis = 1, inplace = True)
    
    final.to_excel(writer, sheet_name = sheet, index=False)
    
    print('Данные по городу ', city_rus, ' были выгружены.')

Количество всех услуг по городу  Актобе :  1220
Количество строк и столбцов записанных в dataframe:  (1220, 3)
Данные по городу  Актобе  были выгружены.
Количество всех услуг по городу  Уральск :  1305
Количество строк и столбцов записанных в dataframe:  (1305, 3)
Данные по городу  Уральск  были выгружены.

In [8]:
writer.close()

In [9]:
import numpy as np
import pandas as pd

In [10]:
pl_and_lis_Aktobe = pd.read_excel('Актобе и Уральск 1 сентября по 1 февраля Request (изменено).xlsx', sheet_name = 'Актобе')
sparovchnik_Actobe = pd.read_excel('Конструктор_отчетов_все_услуги_по_регионам.xlsx', sheet_name = 'Актобе')

In [11]:
pl_and_lis_Aktobe.shape

(1220, 8)

In [12]:
sparovchnik_Actobe.shape

(2742, 3)

In [13]:
pl_and_lis_Aktobe.head()

,Код_услуги,Услуга,Mediana,MAX_time,Регион,Количество,Min_PL,Max_PL
0,40.165,Определение панкреатической эластазы,5.0,6.0,Актобе,88.0,NaN,NaN
1,71.22,P-селектин лиганд гликопротеина (SELPLG Met62I...,NaN,NaN,NaN,NaN,NaN,NaN
2,75.04,"Адреногенитальный синдром (CYP21OHA/B: P30L, V...",NaN,NaN,NaN,NaN,NaN,NaN
3,75.07,"Гемохроматоз (HFE: H63D, S65C, C282Y) (3)",19.0,19.0,Актобе,1.0,NaN,NaN
4,21.02,Гены основного комплекса системы гистосовмести...,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
sparovchnik_Actobe.head()

  Название  Код_услуги                                       Группа услуг
0    20000  100.00.105  Для чеков (отметьте несколько значений, чтобы ...
1    30000  100.00.110  Для чеков (отметьте несколько значений, чтобы ...
2    40000  100.00.115  Для чеков (отметьте несколько значений, чтобы ...
3    50000  100.00.120  Для чеков (отметьте несколько значений, чтобы ...
4     1000  100.00.075  Для чеков (отметьте несколько значений, чтобы ...

In [15]:
df_two = pd.merge(pl_and_lis_Aktobe, sparovchnik_Actobe, how = 'left')

In [16]:
df_two.shape

(1220, 10)

In [17]:
df_two['Комментарии'] = df_two.apply(lambda row: 'Не указан срок в прайсе' if pd.isna(row['Min_PL']) else '', axis=1)
def update_times(row):
    if row['Количество'] < 100:
        row['Mediana'] = row['Min_PL']
        row['MAX_time'] = row['Max_PL']
    return row


df_two = df_two.apply(update_times, axis=1)

In [18]:
df_Akto = df_two.reindex(columns=['Группа услуг', 'Код_услуги', 'Услуга','Название', 'Mediana', 'MAX_time', 'Min_PL', 'Max_PL',
                                    'Количество', 'Комментарии'])

In [19]:
df_Akto['Примечание'] = np.where(df_Akto['Услуга'] != df_Akto['Название'], 'Грам.ошибка/Сокращен.название', '')

In [20]:
df_Akto.drop("Название", axis=1, inplace=True)

In [21]:
df_Akto['Разница'] = df_Akto['Min_PL'] - df_Akto['Mediana']

In [22]:
df_Akto.to_excel('Request_Aktobe.xlsx', index = False)

In [23]:
pl_and_lis_Ural = pd.read_excel('Актобе и Уральск 1 сентября по 1 февраля Request (изменено).xlsx', sheet_name = 'Уральск')
sparovchnik_Uralsck = pd.read_excel('Конструктор_отчетов_все_услуги_по_регионам.xlsx', sheet_name = 'Уральск')

In [24]:
pl_and_lis_Ural.shape

(1305, 8)

In [25]:
pl_and_lis_Ural.head()

,Код_услуги,Услуга,Mediana,MAX_time,Регион,Количество,Min_PL,Max_PL
0,40.165,Определение панкреатической эластазы,5.0,6.0,Уральск,210.0,7.0,10.0
1,93.00.2947,AFZ регион,NaN,NaN,NaN,NaN,NaN,NaN
2,93.00.2946,ATP7B,NaN,NaN,NaN,NaN,NaN,NaN
3,93.00.2935,C9orf72,NaN,NaN,NaN,NaN,NaN,NaN
4,93.00.2957,CentoICU,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
sparovchnik_Uralsck.shape

(2885, 3)

In [27]:
df_Uralsck = pd.merge(pl_and_lis_Ural, sparovchnik_Uralsck, how = 'left')

In [28]:
df_Uralsck.shape

(1305, 10)

In [29]:
df_Uralsck['Комментарии'] = df_Uralsck.apply(lambda row: 'Не указан срок в прайсе' if pd.isna(row['Min_PL']) else '', axis=1)
def update_times(row):
    if row['Количество'] < 100:
        row['Mediana'] = row['Min_PL']
        row['MAX_time'] = row['Max_PL']
    return row


df_Uralsck = df_Uralsck.apply(update_times, axis=1)

In [30]:
df_Ural = df_Uralsck.reindex(columns=['Группа услуг', 'Код_услуги','Название', 'Услуга', 'Mediana', 'MAX_time', 'Min_PL', 'Max_PL',
                                    'Количество', 'Комментарии'])

In [31]:
df_Ural['Примечание'] = np.where(df_Ural['Услуга'] != df_Ural['Название'], 'Грам.ошибка/Сокращен.название', '')

In [32]:
df_Ural.drop("Название", axis=1, inplace=True)

In [33]:
df_Ural['Разница'] = df_Ural['Min_PL'] - df_Ural['Mediana']

In [34]:
df_Ural.to_excel('Request_Uralsck.xlsx', index = False)

In [35]:
df_Ural.shape

(1305, 11)

In [36]:
import numpy as np
import pandas as pd

In [37]:
Request_Aktobe = pd.read_excel('Request_Aktobe.xlsx')
Sample_Aktobe = pd.read_excel('Актобе и Уральск 1 сентября по 1 февраля Sample.xlsx', sheet_name = 'Актобе')

In [38]:
df_sample_request = pd.merge(Request_Aktobe , Sample_Aktobe, how = 'left')

In [39]:
def update_times(row):
    if row['Количество'] < 100:
        row['Mediana_Sample'] = row['Min_PL']
        row['MAX_time_Sample'] = row['Max_PL']
    return row


df_sample_request = df_sample_request.apply(update_times, axis=1)

In [40]:
Sample_aktobe = df_sample_request.reindex(columns=['Группа услуг', 'Код_услуги', 'Услуга', 'Mediana_Sample', 'MAX_time_Sample', 'Min_PL', 'Max_PL',
                                    'Количество', 'Комментарии'])

In [41]:
Sample_aktobe['Разница'] = Sample_aktobe['Min_PL'] - Sample_aktobe['Mediana_Sample']

In [42]:
Sample_aktobe.to_excel('Sample_Aktobe.xlsx', index = False)

In [43]:
import numpy as np
import pandas as pd

In [44]:
Request_Uralsk = pd.read_excel('Request_Uralsck.xlsx')
Sample_Uralsk = pd.read_excel('Актобе и Уральск 1 сентября по 1 февраля Sample.xlsx', sheet_name = 'Уральск')

In [45]:
df_sample_request_Uralsk = pd.merge(Request_Uralsk , Sample_Uralsk, how = 'left')

In [46]:
def update_times(row):
    if row['Количество'] < 100:
        row['Mediana_Sample'] = row['Min_PL']
        row['MAX_time_Sample'] = row['Max_PL']
    return row


df_sample_request_Uralsk = df_sample_request_Uralsk.apply(update_times, axis=1)

In [47]:
Sample_uralsk = df_sample_request_Uralsk.reindex(columns=['Группа услуг', 'Код_услуги', 'Услуга', 'Mediana_Sample', 'MAX_time_Sample', 'Min_PL', 'Max_PL',
                                    'Количество', 'Комментарии'])

In [48]:
Sample_uralsk['Разница'] = Sample_uralsk['Min_PL'] - Sample_uralsk['Mediana_Sample']

In [49]:
Sample_uralsk.to_excel('Sample_Uralsk.xlsx', index = False)

In [50]:
import numpy as np
import pandas as pd

In [51]:
Sam_Akt = pd.read_excel('Sample_Aktobe.xlsx')
Req_Akt = pd.read_excel('Request_Aktobe.xlsx')

In [52]:
sample_request_Akt = pd.merge(Req_Akt , Sam_Akt, on = 'Код_услуги', how = 'right')

In [53]:
Sample_and_Request_Akt = sample_request_Akt.reindex(columns=['Группа услуг_x', 'Код_услуги', 'Услуга_x', 'Mediana_Sample', 'MAX_time_Sample', 
                                                             'Mediana', 'MAX_time', 'Количество_x', 'Комментарии_x'])

In [54]:
Sample_and_Request_Akt ['Mediana_Sample'] = Sample_and_Request_Akt['Mediana_Sample'].apply(lambda x: 1 if x == 0 else x)
    
Sample_and_Request_Akt ['MAX_time_Sample'] = Sample_and_Request_Akt['MAX_time_Sample'].apply(lambda x: 1 if x == 0 else x)

Sample_and_Request_Akt['Разница'] = Sample_and_Request_Akt['Mediana'] - Sample_and_Request_Akt['Mediana_Sample']

In [55]:
Sample_and_Request_Akt.to_excel('Sample_Request_Aktobe.xlsx', index = False)

In [56]:
import numpy as np
import pandas as pd

In [57]:
Sam_Ura = pd.read_excel('Sample_Uralsk.xlsx')
Req_Ura = pd.read_excel('Request_Uralsck.xlsx')

In [58]:
sample_request_Ura = pd.merge(Req_Ura , Sam_Ura, on = 'Код_услуги', how = 'right')

In [59]:
Sample_and_Request_Ura = sample_request_Ura.reindex(columns=['Группа услуг_x', 'Код_услуги', 'Услуга_x', 'Mediana_Sample', 'MAX_time_Sample', 
                                                             'Mediana', 'MAX_time', 'Количество_x', 'Комментарии_x'])

In [60]:
Sample_and_Request_Ura ['Mediana_Sample'] = Sample_and_Request_Ura['Mediana_Sample'].apply(lambda x: 1 if x == 0 else x)
    
Sample_and_Request_Ura ['MAX_time_Sample'] = Sample_and_Request_Ura['MAX_time_Sample'].apply(lambda x: 1 if x == 0 else x)

Sample_and_Request_Ura['Разница'] = Sample_and_Request_Ura['Mediana'] - Sample_and_Request_Ura['Mediana_Sample']

In [61]:
Sample_and_Request_Ura.to_excel('Sample_Request_Uralsk.xlsx', index = False)